[Unit]
Description=Show lights according to build status
After=rc-local.service network.target network-online.target

[Service]
Type=simple
ExecStart=%h/buildenlights/buildenlights.sh
RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
