[Unit]
Description=Show lights according to build status
After=rc-local.service network.target network-online.target

[Service]
Type=simple
ExecStart=%h/buildenlights/buildenlights.sh --infinite-loop
RestartSec=600
Restart=on-failure

[Install]
WantedBy=multi-user.target
